nav{
    // background-color: rgba($color: white, $alpha: .7);
    font-family: 'Comic Neue', cursive;
}
.name{
    
    letter-spacing: 0.5rem;
}
.navbar,
.sign-in{
    letter-spacing: 0.2rem;
    
}

